<?xml version="1.0" encoding="UTF-8"?>
<CONFIG>
	<SETTINGS>
		<PLAYER_SETTINGS Name="SelectedSkin" Value="skin/skin.swf"/>
		<PLAYER_SETTINGS Name="SelectedLoader" Value="skin/loading.swf"/>
		<PLAYER_SETTINGS Name="Protocol" Type="http" Value="" />
		<PLAYER_SETTINGS Name="FLVPath" Value="../02.flv"/>
		<PLAYER_SETTINGS Name="PlayList" Value="playlist.xml" MaximumLists="3"/>
		<PLAYER_SETTINGS Name="Themes" Value="themes.xml"/>

		<PLAYER_SETTINGS Name="LockAllControls" Value="false"/>
		<PLAYER_SETTINGS Name="ShowShareButton" Value="true"/>
		<PLAYER_SETTINGS Name="ShowReplyButton" Value="true"/>
		<PLAYER_SETTINGS Name="InitVolume" Value="20"/>
		<PLAYER_SETTINGS Name="AutoPlay" Value="true"/>
		<PLAYER_SETTINGS Name="FirstFrameAs" Value="image" FrameAt="2" Url="images/vImage.jpg" Align="stretch"/>
		<PLAYER_SETTINGS Name="FirstVidSize" Value="max" KeepAspectRatio="true"/>
		<PLAYER_SETTINGS Name="FullScreenControls" Value="true"/>
		<PLAYER_SETTINGS Name="ShowMiniShareButton" Value="false"/>

		<PLAYER_SETTINGS Name="ShowMiniLogo" Value="false" Url="images/minilogo.swf"/>
		<PLAYER_SETTINGS Name="TooltipEnabled" Value="true"/>
		<PLAYER_SETTINGS Name="ShareVidzLink" Value="http://media.putfile.com/code.php" args="n=wwwlivemaza4ucom-presents-hum-dil-de-chuke-sanam-1"/>
		<!-- args will passed separately with & symbol to the given php file -->
		<PLAYER_SETTINGS Name="FullScreenLink" Function="" args="sample1.html"/>
		<!-- If the Function value is empty, the defauly fullscreen function will be fired -->
		<PLAYER_SETTINGS Name="BufferTime" Value="2"/>
		<PLAYER_SETTINGS Name="Logo" Value="false" Url="images/minilogo.swf" Transparency="50"  RollOverTransparency="100" LogoPosition="RB" hspace="10" vspace="10" TargetUrl="http://www.agriya.com" Target="_blank" InnerScripts="no"/>		
		<PLAYER_SETTINGS Name="External" Value="no" Url="http://agriya.com"  Target="_blank" />

		<PLAYER_SETTINGS Name="TopUrl" Url="images/flashadd.swf" TargetUrl="http://www.agriya.com" TargetWindow="_blank" Duration="2" Value="false" Type="img" ImpressionUrl="yourphp?sgds" ClickCountUrl="yourphp?sgds"/>
		<PLAYER_SETTINGS Name="TailUrl" Url="http://204.13.166.60/player/lmtm/lmtm_contest_postroll.swf" TargetUrl="http://www.putfile.com" TargetWindow="_blank" Duration="6" Value="false" Type="swf" ImpressionUrl="yourphp?sgds" ClickCountUrl="yourphp?sgds"/>
	</SETTINGS>
	<LABELS><TEXT Name="Header" Value="Share your views! Comment at the bottom of this page." Enable="true" ShowAlways="false" Url="" TargetWindow="" HeaderScroll="false" ScrollSpeed="5"/><TEXT Name="Share" Value="Embed Code"/>
		<TEXT Name="Reply" Value="Replay"/>
		<TEXT Name="Buffer" Value="Buffering..."/>
		<TEXT Name="Loading" Value="Loading....."/>
		<TEXT Name="NextText" Value=">>Next" Enable="false"/>
		<TEXT Name="ListAlign" Value="RTL" Enable="false"/>

	</LABELS>
	<TOOLTIP>
		<TOOL Name="PlayButton" Value="Play"/>
		<TOOL Name="PauseButton" Value="Pause"/>
		<TOOL Name="VolumeButton" Value="Volume"/>
		<TOOL Name="ShareVidz" Value="You can use the embed code to place this video on another site or blog, click here."/>
		<TOOL Name="ReplyVideo" Value="Replay"/>
		<TOOL Name="RewindButton" Value="Rewind"/>
		<TOOL Name="MuteButton" Value="Mute"/>

		<TOOL Name="FullScreen" Value="Full Screen"/>
		<TOOL Name="UnMuteButton" Value="Unmute"/>
		<TOOL Name="VideoSize" Value="Video Size"/>
	</TOOLTIP>
	<MSG>
		<ERROR Name="SelectedSkin" Value="  is not available...swf "/>
		<ERROR Name="PlayList" Value="The playlist xml not found ! "/>
		<ERROR Name="FlvPath" Value="The FLV Paths is not valid or missing !"/>
		<ERROR Name="FlvPathFile" Value="File not Found "/>

	</MSG>
</CONFIG>